/* CSS VARIABLES */

:root {
  
  /* Primary color */
  
  --primary-color: #005a9c; /* LA Dodgers Blue */
    --on-primary-color: #fff;
    
  --primary-light: #4f86cd;
    --on-primary-light: #000;
    
  --primary-dark: #00326d;
    --on-primary-dark: #fff;
  
  /* Secondary color */
  
  --secondary-color: #a5acaf; /* LA Dodgers Silver */
    --on-secondary-color: #000;
    
  --secondary-light: #d6dee1;
    --on-secondary-light: #000;
    
  --secondary-dark: #767d80;
    --on-secondary-dark: #000;
  
  /* Alert */
  
  --alert-color: #ef3e42; /* LA Dodgers Red */
    --on-alert-color: #000;
    
  --alert-light: #ff746d;
    --on-alert-light: #000;
    
  --alert-dark: #b5001a;
    --on-alert-dark: #000;

}



* {
  box-sizing: border-box;
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

html{
  background-color: var(--secondary-light);
  z-index: 0;
}

html, body {
  height: 100%;
}

body {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
}

/* === BASE LAYOUT === */

/* Header */

  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }
  
    .site-title {
      z-index: 8;
      order: 1;
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
      flex-grow: 1;
    }
      
      h1 {
        text-align: center;
        font-size: 27px;
        margin: 0px 8px;
        padding: 10px 0px;
        font-weight: normal;
      }
    
    .user-progress-element {
      z-index: 4;
      order: 2;
      flex-grow: 1;
      background: var(--primary-color);
      color: var(--on-primary-color);
    }
    
      .user-progress-element ul {
        list-style: none;
        text-align: center;
        margin: 8px 0px;
      }
      
        .user-progress-element li {
          display: inline-block;
          padding: 0px 4px;
        }

/* Main content */
  main {
    z-index: 1;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

  }
  
  h2 {
    text-align: center;
    margin: 0px auto 5px auto;
    font-size: 18px;
  }
  
  button, input[type="submit"] {
    background-color: var(--primary-light);
    color: var(--on-primary-light);
    border: none;
    height: 45px;
    border-radius: 4px;
    min-width: 65px;
    margin-top: 4px;
  }
    
    button:hover, input[type="submit"]:hover {
      background-color: var(--primary-color); 
      color: var(--on-primary-color);
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
    }
  
    button:active, input[type="submit"]:active {
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
    }
    
    button:focus, input[type="submit"]:focus {
      background-color: var(--primary-color);
      color: var(--on-primary-dark);
    }
  
  /* Starting display */
  
    .starting-display {
      z-index: 12;
      background-color: #fff;
      color: #000;
      padding: 8px;
      margin: 0px 8px;
      text-align: center;
      border-radius: 4px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    
  /* Quiz form */
  
    .quiz-form-container {
      z-index: 12;
      background-color: #fff;
      color: #000;
      padding: 8px;
      margin: 0px 8px;
      border-radius: 4px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    
      .quiz-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
        fieldset {
          width: 100%;
          border: none;
          padding: 0px;
          margin: 0px;
        }
      
        .fieldset-flex-container {
          text-align: center;
          margin: 0px 8px;
          border: none;
          padding: 8px 0px;
          flex-grow: 1;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
        }

  .quiz-option-container {
    background-color: var(--secondary-light);
    color: var(--on-secondary-light);
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    flex-basis: 100%;
    
  }
  
  .quiz-option-container:hover {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }
  

    .answer-required-alert {
      background-color: var(--alert-color);
      color: var(--on-alert-color);
      border-radius: 4px;
      padding: 4px;
      margin: 4px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    .answer-required-alert:hover {
      background-color: var(--alert-dark);
      color: var(--on-alert-dark);
    }
        
  /* Question feedback display */
  
    .question-feedback-display {
      z-index: 12;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #000;
      padding: 8px 0px;
      text-align: center;
      margin: 0px 8px;
      border-radius: 4px;
      max-width: 500px;
    }

    .question-feedback-display img {
      max-width: 120px;
      margin: 8px;
    }
    

    .question-feedback-display p {
      text-align: justify;
      padding: 8px 0px;
      margin: 0px 8px;
    }
    
    .question-feedback-buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      max-width: 500px;
      min-width: 50%;
    }
    
    .question-feedback-buttons button {
      min-width: 65px;
    }
    

    
  /* Final results disply */
  
    .final-results-display {
      z-index: 12;
      width: 94.17%;
      background-color: #fff;
      color: #000;
      padding: 8px 0px;
      margin: 0px 8px;
      text-align: center;
      border-radius: 4px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }

      
/* Footer */

footer {
  z-index: 8;
  flex-shrink: 0;
  padding: 8px;
  text-align: center;
  background: var(--primary-dark);
  color: var(--on-primary-dark);
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

  footer a {
    text-decoration: none;
    color: #fff;
    line-height: 18px;
    height: 18px;
  }
  
  footer a:visited {
    color: #fff;
  }

  footer .material-icons {
    font-size: 18px;
    line-height: 18px;
    display: inline;
  }


/* ===RESPONSIVE ADJUSTMENTS=== */

@media only screen and (min-width: 480px) {
  .quiz-option-container {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 600px) {

  header {
    z-index: 8;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    
    /* Material Design: .md-whiteframe-7dp */
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12); 
  }
  
  .starting-display {
    max-width: 550px;
  }
  
    .site-title {
      z-index: none;
      order: 1;
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
      
      /* Material Design responsive override */
      box-shadow: none;
    }
      
      h1 {
        text-align: left;
      }
    
    .user-progress-element {
      z-index: none;
      order: 2;
      flex-grow: 1;
      background: var(--primary-dark);
      color: var(--on-primary-dark);
      /* Material Design responsive override */
      box-shadow:none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
    } 
    
      h2 {
      width: 71.99%;
      margin-left: auto;
      margin-right: auto;
    }
    
    p {
      width: inherit;
    }
    
    /* Quiz form */
    
      .quiz-form-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      
        .quiz-form {
          width: 100%;
        }
        
/*
fieldset {
            width: 100%;
          }
          
          .fieldset-flex-container {
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
          }
          
          
          .quiz-option-container {
            width: 45%;
          }
          
*/          
      .answer-required-alert {
        width: 45%;
      }

}

@media only screen and (max-height: 400px ) {


  .starting-display p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  

    .fieldset-flex-container {
    flex-flow: row wrap;
  }
  
/*
  div.quiz-option-container {
    width: 45%;
    font-size: 12px;
  }
  
  button, input[type="submit"], .quiz-option {
    height: 30px;
  } 
  
*/

  .quiz-form-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }

/*      
  .quiz-form h2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    padding-bottom: 0px;
  }
*/
    .answer-required-alert {
        width: 45%;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 4px;
      }
  
  .question-feedback-display p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .question-feedback-display img {
    display: none;
  }
  
  .final-results-display p {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

}