/* CSS VARIABLES */

:root {
  
  /* Primary color */
  
  --primary-color: #005a9c; /* LA Dodgers Blue */
    --on-primary-color: #fff;
    
  --primary-light: #4f86cd;
    --on-primary-light: #000;
    
  --primary-dark: #00326d;
    --on-primary-dark: #fff;
  
  /* Secondary color */
  
  --secondary-color: #a5acaf; /* LA Dodgers Silver */
    --on-secondary-color: #000;
    
  --secondary-light: #d6dee1;
    --on-secondary-light: #000;
    
  --secondary-dark: #767d80;
    --on-secondary-dark: #000;
  
  /* Alert */
  --alert-color: #ef3e42; /* LA Dodgers Red */
    --on-alert-color: #000;
    
  --alert-light: #ff746d;
    --on-alert-light: #000;
    
  --alert-dark: #b5001a;
    --on-alert-dark: #000;

}



* {
  box-sizing: border-box;
  font-family: 'Roboto', 'San Francisco', sans-serif;
}

html{
  background-color: var(--secondary-light);
  z-index: 0;
}

html, body {
  height: 100%;
}

body {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
}

/* === SMALL SCREEN LAYOUT === */

/* Header */

  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }
  
    .site-title {
      z-index: 8;
      order: 1;
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
      /* width: 100%; */
      flex-grow: 1;
    }
      
      h1 {
        text-align: center;
        font-size: 27px;
        margin: 0px;
        padding: 10px;
        font-weight: normal;
      }
    
    .user-progress-element {
      z-index: 4;
      order: 2;
      flex-grow: 1;
      background: var(--primary-color);
      color: var(--on-primary-color);
    }
    
      .user-progress-element ul {
        list-style: none;
        padding: 5px;
        text-align: center;
        margin: 0px;
      }
      
        .user-progress-element li {
          display: inline-block;
          padding: 0px 3px;
        }

/* Main content */
  main {
    z-index: 1;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

  }
  
  button, input[type="submit"] {
    background-color: var(--primary-light);
    color: var(--on-primary-light);
    border: none;
    height: 45px;
    width: 80px;
    border-radius: 4px;
  }
    
    button:hover, input[type="submit"]:hover {
      background-color: var(--primary-color); 
      color: var(--on-primary-color);
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
    }
  
    button:active, input[type="submit"]:active {
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
    }
    
    button:focus, input[type="submit"]:focus {
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
    }
  
  /* Starting display */
  
    .starting-display {
      z-index: 12;
      width: 90%;
      max-width: 500px;
      background-color: #fff;
      color: #000;
      padding: 10px;
      text-align: center;
      border-radius: 4px;
    }
    
  /* Quiz form */
  
    .quiz-form-container {
      z-index: 12;
      width: 90%;
      background-color: #fff;
      color: #000;
      padding: 10px;
      border-radius: 5px;
    }
    
      h2 {
        text-align: center;
        margin: 0px auto 5px auto;
        font-size: 18px;
      }
      
      .quiz-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        text-align: center;
      }
      
        fieldset {
          width: 100%;
          border: none;
        }
      
        .fieldset-flex-container {
          text-align: center;
          margin: 0px;
          border: none;
          padding: 0px;
          flex-grow: 1;
        }
        
        
        .fieldset-flex-container label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          width: 100%;
          background-color: var(--secondary-light);
          color: var(--on-secondary-light);
          margin: 10px 0px 10px 0px;
          border-radius: 4px;
        }
        
          .fieldset-flex-container label:hover {
            background-color: var(--secondary-color);
            color: var(--on-secondary-color);
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 6px 10px 0px rgba(0, 0, 0, 0.14),
              0px 1px 18px 0px rgba(0, 0, 0, 0.12);
          }
          
          .fieldset-flex-container input[type="radio"]:active+label {
            background-color: var(--secondary-dark);
            color: var(--on-secondary-dark);
            border: 2px solid red; /* TEMP DESIGN */
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 6px 10px 0px rgba(0, 0, 0, 0.14),
              0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
          }
          
          .fieldset-flex-container input[type="radio"]:checked+label {
            background-color: var(--secondary-color);
            color: var(--on-secondary-color);
          }
          
        .fieldset-flex-container input {
          display: none;
        }
      
      .quiz-option {
        height: 45px;
      }
      
    .answer-required-alert {
      background-color: var(--alert-color);
      color: var(--on-alert-color);
      border-radius: 4px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding:10px;
      z-index: 20;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
    
    .answer-required-alert:hover {
      background-color: var(--alert-dark);
      color: var(--on-alert-dark);
    }
  
        
  /* Question feedback display */
  
    .question-feedback-display {
      z-index: 12;
      width: 90%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      max-width: 500px;
      background-color: #fff;
      color: #000;
      padding: 10px;
      text-align: center;
      border-radius: 4px;
    }
    
    .question-feedback-display p {
      width: 100%;
      text-align: left;
    }
    
    .question-feedback-display img {
      width: 100px;
      float: right;
      border: 1px solid var(--secondary-light);
      margin-left: 5px;
    }
    
    
  /* Final results disply */
  
    .final-results-display {
      z-index: 12;
      width: 90%;
      max-width: 500px;
      background-color: #fff;
      color: #000;
      padding: 10px;
      text-align: center;
      border-radius: 4px;
    }

      
/* Footer */

footer {
  z-index: 8;
  flex-shrink: 0;
  padding: 5px;
  text-align: center;
  background: var(--primary-dark);
  color: var(--on-primary-dark);
}

/* ===LARGE SCREEN ADJUSTMENTS=== */

@media only screen and (min-width: 550px) {
 
  header {
    z-index: 8;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    
    /* Material Design: .md-whiteframe-7dp */
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12); 
  }
  
    .site-title {
      z-index: none;
      order: 1;
      background-color: var(--primary-dark);
      color: var(--on-primary-dark);
      
      /* Material Design responsive override */
      box-shadow: none;
    }
      
      h1 {
        text-align: left;
      }
    
    .user-progress-element {
      z-index: none;
      order: 2;
      flex-grow: 1;
      background: var(--primary-dark);
      color: var(--on-primary-dark);
      
      /* Material Design responsive override */
      box-shadow:none;
    } 
 
      .user-progress-element ul {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
      }
      
      div.quiz-option-container{
        width: 49%;
        margin: 0px;
        padding: 0px;
      }
      
    .fieldset-flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-between;
    }
    
      .quiz-option-container {
        width: 40%;
        flex-grow: 0;
      }
      
}

@media only screen and (max-height: 330px ) {
  div.quiz-option-container {
    width: 20%;
    font-size: 12px;
  }
}